@import url(https://fonts.googleapis.com/css?family=Raleway:100,400);

$main-bg-color: #f1f2f0;
$accent-blue: #37bbe4;
$accent-gray: #e1e0dd;
$accent-black: #35342f;
$accent-orange: #ec6b2d;
$accent-red: #dd6464;

body {
  margin: 0;
}

%bordered {
  border: 1px solid $accent-black;
}

.container {
  background-color: #fff;
  display: flex;
  //width: 70%; //remove it later
}
