@import url(https://fonts.googleapis.com/css?family=Raleway:100,400);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,400);
@import url(https://fonts.googleapis.com/css?family=Quicksand:100,400);

$main-bg-color: #f1f2f0;
$accent-blue: #37bbe4;
$accent-gray: #e1e0dd;
$accent-black: #35342f;
$accent-orange: #ec6b2d;
$accent-red: #dd6464;
$quicksand: Quicksand;
$roboto: Roboto;


body {
  margin: 0;
  font-family: $quicksand;
}

.container {
  background-color: #fff;
  display: flex;
  //width: 70%; //remove it later
}

.flex-row-container {
  flex-direction: column;
}

.flex-col-container {
  flex-direction: column;
}


.no-vertical-scroll-bar {
  //width: 100%;
  height: 100%;
  //overflow-y: scroll;
  //position: relative;
  //padding-right: 17px;
  //box-sizing: content-box;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.no-vertical-scroll-bar::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}


.left-side-bar {
  background-color: #F3F3F3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right-side-bar {
  background-color: #F1F3F4;
}

.job-details-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #A6ADAF;
  padding-bottom: 12px;
}

.selected {
  background: rgba(0, 0, 0, 0.08);
  //margin: 0px -14px 0 -12px;
  //padding: 0 12px;
}

.custom-table {
  //margin-top: 24px;

  tr {
    th, td {
      border-bottom: 1px solid #000;
    }
  }
}

.video-iframe-wrapper iframe {
  height: 100%;
  width: 100%;
}

.visit-status-label {
  border-radius: 4px;
  padding: 0 12px;
  line-height: 24px;
  height: 24px;
  white-space: nowrap;
  font-family: Roboto;
  display: inline-flex;
  align-items: center;
}


/**
Overriding Material CSS
 */
.MuiTabs-flexContainer {
  height: 100%;
}

.MuiInputBase-root.Mui-disabled {
  color: inherit !important;
}

.MuiInputBase-root {
  background: #F7F9FA !important;
}

.MuiTableCell-root {
  font-size: 14px !important;
}

.MuiButton-root {
  text-transform: capitalize !important;
}

.MuiTypography-h1,
.MuiTypography-h2,
.MuiTypography-h3,
.MuiTypography-h4,
.MuiTypography-h5,
.MuiTypography-h6 {
  font-family: Quicksand !important;
}

.MuiExpansionPanelSummary-expandIcon.Mui-expanded {
  transform: rotate(90deg) !important;

  .MuiSvgIcon-root {
    margin-right: 0 !important;
  }
}

.customSelectLowHeight .MuiOutlinedInput-input {
  padding: 10px 14px !important;
}

.MuiTab-wrapper {
  flex-direction: row !important;
}

.MuiDivider-root {
  margin: 24px 0 !important;
  border-top: 1px solid rgb(166, 173, 175) !important;
}

.MuiFab-colorInherit {
  background-color: #fff !important;

  &:hover {
    background-color: #f2f2f2 !important;
  }
}

.vertical-timeline::before,
.vertical-timeline-element-content {
  background-color: #F7F9FA !important;
}
