@import './mixin';

@media (min-width: 220px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }
  @include left-side-bar-tab-mobile-view;
  @include flex-to-centered-block(job-details-header-container);

}

@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }
  @include left-side-bar-tab-mobile-view;
  @include flex-to-centered-block(job-details-header-container);

}

@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */

  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }
  @include centered-block-to-flex(job-details-header-container);
}

@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .desktop {
    display: block;
  }

  .tab, .mobile {
    display: none;
  }
  @include change-font-size(left-side-bar, 14);
  @include change-font-size(right-side-bar, 15);
}

@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  .desktop {
    display: block;
  }

  .tab, .mobile {
    display: none;
  }

  @include change-font-size(left-side-bar, 14);
  @include change-font-size(right-side-bar, 15);
}

//@media (min-width: 1281px) {
@media (min-width: 1366px) {
  /* hi-res laptops and desktops */
  .desktop {
    display: block;
  }

  .mobile, .tab {
    display: none;
  }

  @include change-font-size(left-side-bar, 16);
  @include change-font-size(right-side-bar, 16);
}

