@media (min-width: 220px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }
}

@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }
}

@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }
}

@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }
}

@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }
}

@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }
}

@media (min-width: 1281px) {
  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }
}
